build/
dist/
*.pyc
*.egg-info/
__pycache__/
*.mp3
*.opus
*.m4a
*.flac
.vscode
.venv
.env
.coverage*
.idea
.python-version
.DS_Store
archive_trackers/
.claude/
playlists-list.md
yt-playlists.md
ytdl.cfg
Unavailable songs soundcloud.txt
MY SONG LIBRARY/
*.wav
1 MY SONG LIBRARY/best-sample-sources.md
1 MY SONG LIBRARY/sc-playlists-list.md
